/* indexpage */
    body{
				background: #f3f3f3; 
				color:#666666;
				overflow-x:hidden;
	} 
 

/*login starts*/
   
/*login ends*/
 


/*order page*/

/*order page ends*/

/*issue page*/

/*issue page ends*/


            .container{ 
				padding-top: 70px;
			}
			.Orangecolor, .Orangecolor:focus, .Orangecolor:hover, .Orangecolor:focus {
				background: #d4a190;
                border: 1px solid #d4a190;
				color: #fff;
			} 
			.grayColor, .grayColor:focus, .grayColor:hover, .grayColor:focus {
				background: #626262;
				color: #fff;
			} 
			.Whitecolor{
				background: #fff; 
				color: #a9a9a9;
			}
			.fullwidth{
				width:100%;
			}
			
			nav{
				background: #626262;
			}
			
			.subItemlowColor{
				font-size: 10px;
				color: #777;
				margin-top: -5px;
				margin-bottom: -2px;
			}
			.order_date{
				    font-size: 9px;
			}
            .container-table {
                display: table;
            }

            .vertical-center-row {
                display: table-cell;
                vertical-align: middle;
            }

            .center-block {
                float: none;
                margin: 0 auto;
                width: 500px;
            }
			.hidden{
				  opacity: 0.9;
				-moz-transition: opacity 1.4s ease-in-out;
				-o-transition: opacity 1.4s ease-in-out;
				-webkit-transition: opacity 1.4s ease-in-out;
				transition: opacity 1.4s ease-in-out;
			}
            .fa-pencil {
                    font-size: 1.3em;
            }
		 
		.cartedDiv{
			padding-left:5px;
			color:#f5f5f5;
			border-radius: 10px 10px 10px 10px;
			-moz-border-radius: 10px 10px 10px 10px;
			-webkit-border-radius: 10px 10px 10px 10px;
			border: 0px solid #000000; 
		}
		.cartItems span {
		font-size: 0.8em;
		}
		.paddedClm{
		    padding-left: 5px;
			padding-right: 5px;
		}
 
		 .customheightctrl{
													height: 23px;
													font-size: 11px;
		 }
		 /* Portrait and Landscape */
		@media only screen 
		  and (min-device-width: 315px) 
		  and (max-device-width: 738px) 
		  and (-webkit-min-device-pixel-ratio: 2) { 
		  
/*
		  #loginPanel{
				width:100%;
		        margin-top: 25%;
		  }
		  
			#mainloader{
				margin-top: 40%;
			}
*/

		}
			/* ----------- iPad mini ----------- */

			/* Portrait and Landscape */
			@media only screen 
			  and (min-device-width: 768px) 
			  and (max-device-width: 1367px) 
			  and (-webkit-min-device-pixel-ratio: 1) {

			}

			/* Portrait */
			@media only screen 
			  and (min-device-width: 768px) 
			  and (max-device-width: 1367px) 
			  and (orientation: portrait) 
			  and (-webkit-min-device-pixel-ratio: 1) {
/*
  
				  #loginPanel{ 
						margin-top: 25%;
				  }	
				  #mainloader{
						margin-top: 35%;
				  }
*/
		  
			}

			/* Landscape */
			@media only screen 
			  and (min-device-width: 768px) 
			  and (max-device-width: 1367px) 
			  and (orientation: landscape) 
			  and (-webkit-min-device-pixel-ratio: 1) {

			}
			
				.page {
				    font-size:0.9em;
					width: 21cm;
					min-height: 29.7cm;
					padding: 2cm;
					margin: 1cm auto;
					border: 1px #D3D3D3 solid;
					border-radius: 5px;
					background: white;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
				}
				.subpage {
					padding: 0.1cm;
/*					height: 237mm;*/
                    min-height: 237mm;
                    height:auto;
				}
				
				@page {
					size: A4;
					margin: 0;
				}
				@media print {
					.page {
						margin: 0;
						border: initial;
						border-radius: initial;
						width: initial;
						min-height: initial;
						box-shadow: initial;
						background: initial;
						page-break-after: always;
					}
				}
				#compactDescTable tr td {height:20px; }
				
/********************************	issue page			*/

