/**
* Menu overview.
*/

.o-wrapper{ transition: transform 0.4s;		}

.c-menu {
    position: fixed;
    z-index: 200;
    background-color: #d9d9d9;
    transition: transform 0.4s;
    text-align:left;
}

.c-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
    width:90%;
    margin:0 auto;
    margin-top:2%;
} 
.c-menu__items  li:hover {
    font-weight: bold;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.12+0,0.2+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
.c-menu__item > a , .c-menu__item li a:hover{
    font-weight: normal;
    text-decoration: none;
}
.c-menu__item > a >i  {
    margin-right: 10px;
    font-size: 1.2em;
}
/**
* Close button resets.
*/
.c-menu__close {
    color: #676767; 
    font-size: 1.5em;
    border: none;
    box-shadow: none;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/**
* Close button resets.
*/
.c-menu__close:focus {
outline: none;
text-decoration:none;
}

/**
* Body states.
*
* When a menu is active, we want to hide the overflows on the body to prevent
* awkward document scrolling.
*/
body.has-active-menu {
overflow: hidden;
}

/**
* Mask component
*/

.c-mask {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.3s;
}


.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@media all and (min-width: 320px) {
.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
width: 300px;
}
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
display: block;
text-align: left;
font-weight:bold;
border-top: solid 1px #a9a9a9;
border-bottom: solid 1px #a9a9a9;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
display: block;
padding: 12px 24px;
color: #686868;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
display: block;
padding: 9px 24px;
width: 100%;
}

.c-menu--slide-left,
.c-menu--push-left {
top: 0;
left: 0;
transform: translateX(-100%);
}

@media all and (min-width: 320px) {
.c-menu--slide-left,
.c-menu--push-left {
transform: translateX(-300px);
}
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
transform: translateX(0);
}
	
.o-wrapper.has-push-left {
transform: translateX(100%);
}

@media all and (min-width: 320px) {
.o-wrapper.has-push-left {
transform: translateX(300px);
}
}

.o-wrapper.has-push-right {
transform: translateX(-100%);
}

@media all and (min-width: 320px) {
.o-wrapper.has-push-right {
transform: translateX(-300px);
}
}


/**
* Profile image component
*/
.profile-header-container{
margin: 0 auto;
text-align: center;
}

.profile-header-img {
padding: 14px;
}

.profile-header-img > img.img-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #676767;
}

.profile-header {
margin-top: 43px;
}

/**
* Ranking component
*/
.rank-label-container {
margin-top: -19px;
/* z-index: 1000; */
text-align: center;
}

.label.label-default.rank-label {
background-color: #676767;
padding: 5px 10px 5px 10px;
border-radius: 27px;
}
