     <style>
                .center-block {
                        max-width: 90%;
                }
                .loader { 
                    margin-top:12%;
                }
                #envLogo{
                    max-height:120px;
                }
                .envimgcontainer { 
                    margin: 0 auto;
                    margin-top:0px;
                    margin-bottom:10px;
                    height: 60px; 
                }
                .envimgcontainer img {
                    max-width: 200px;
                    margin: 0 auto;
                    position: absolute;
                    max-height: 200px;
                    top: 100px;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%) 
                }
                  
        </style>  
                                
			<div id="loginPanel" class="center-block">
                    <div class="panel-body" style="padding-left: 0px; padding-right: 0px;">
                        <div class="login-form">
						<!-- login container starts -->
                            <div id="loginContainer">           
                                  <div class="envimgcontainer" >
                                    <img  src="" alt="" id="envLogo"/>
                                  </div>
                                    
                                <br>
                                <p style="text-align:center; margin-top:50px;">Please enter login details to continue</p>
                                <div class="form-group ">
                                    <!-- <label for="url">URL:</label> -->
									 <div class="input-group">
										<span class="input-group-addon Whitecolor"><i class="fa fa-wrench" aria-hidden="true"></i></span> 
										 <input type="text" class="form-control" id="url" autocorrect="off" autocapitalize="none" name="url"  placeholder="URL"
											   value="https://testing1.kloudville.com">
									</div>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="user">Name:</label> -->
									 <div class="input-group">
										<span class="input-group-addon Whitecolor"><i class="fa fa-user" aria-hidden="true"></i></span> 
                                    <input type="text" class="form-control" id="user" autocorrect="off" autocapitalize="none" name="user" placeholder="USERNAME" value="API_Sales">
                                </div>
                                </div>
                                <div class="form-group">
                                    <!-- <label for="password">Password:</label> -->
									 <div class="input-group">
										<span class="input-group-addon Whitecolor "><i class="fa fa-key" aria-hidden="true"></i></span> 
                                    <input type="password" class="form-control" id="password" placeholder="PASSWORD"  name="password" value="Ab123456">
                                </div>
                                </div>
                            </div> 
						<!-- login container ends --> 
						</div>
						<div style=" margin-top: 20%;">
							<button id="login" type="button" class="btn btn-lg  Orangecolor fullwidth">
								Login
							</button>  
							<p style="text-align:center; margin-top:5%"> 
                                <a href="#" data-toggle="modal" data-target="#passwordForgotModal">Forgot Your Password?</a>
							 </p>
						</div>
					</div>
					

		
                <!-- pass forgot modal starts here -->	
            <div class="modal fade" id="passwordForgotModal" role="dialog"  tabindex="-1" role="dialog" aria-labelledby="Forgot Password">
                <div class="modal-dialog" role="document">  
                <!-- Modal content-->
                <div class="modal-content background-colorgrey">
                    <div class="modal-header">
                        <button type="button" class="close marg-right5" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title dark-grey txtbold">Forgot Password</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                            <label class="dark-grey txt-normal" for="userId">User Id <span class="txt-red">* </span></label>
                            <input type="text" class="form-control input-backgroundcolor txtbold" name="userId" id="userId">
                            </div>
                            <div class="form-group">
                            <label class="dark-grey txt-normal" for="emailId">Email</label>
                            <input type="email" class="form-control input-backgroundcolor" name = "emailId" id="emailId">
                            </div>
                            <div class="form-group">
                            <label class="dark-grey" for="pwd">Mobile Phone number</label>
                            <input type="telephone" class="form-control input-backgroundcolor" id="mobileId" name="mobileId">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">	
                        <button type="submit"  data-dismiss="modal" class="btn btn-default">Cancel</button>	
                        <button type="submit" class="btn  btn-info continuebutton" onclick="resetPassword();" >RESET PASSWORD</button>
                    </div>
                </div>
                </div>
            </div>
	<!-- pass forgot modal ends here -->	
					
				</div>  
				 