 <!-- wrapper for push menu -->
	 <div id="o-wrapper" class="o-wrapper">
  
		<nav id="topNavBar" class="navbar navbar-fixed-top" style="margin-bottom: 0px;">
		  <div class="container-fluid ">
			<div class="navbar-header"  > 
				<div  id="c-button--push-left" style="width:50px;"> 
						<i class="fa fa-bars" aria-hidden="true" style="color:#cccccc; font-size:2em; padding:10px; cursor:pointer;"></i> 
				</div>
				 
			</div>
			
			<style>
                .navbar-customBackground{
                    background: #626262;
                    color:#e7e7e7;
                }
                .navbar-default .navbar-nav>li>a {
                    color: #e7e7e7;
                }
                .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
                    color: #fff;
                    background: #818181;
                    border-bottom: 3px solid #d4a190; /* Old browsers */
               }
                .glyph-lrg{
                   font-size:1.3em; 
                }
                .glyph-xlrg{
                   font-size:2.0em;  
                }
                .cartRight{
                    padding-right: 10px;
                    text-align: right;
                    font-size: 10px;
                    color: #e7e7e7;
                    margin-top: 5px;
                    background: #6a6a6a;
                    color:#e7e7e7;
                    border:5px;
                    padding-left:5px;
                    padding-top:5px;
                } 
                 .nav > li.disabled { 
                    background: #4d4d4d;
                  }
                .nav > li:hover {
                    background: #8f8f8f;
                } 
                @media (max-width: 767px) {
                    .navbar-right {
                        width: 67%;
                        position: absolute;
                        top: -5px;
                        left: 13%;
                        font-size: 0.8em;
                    }
                  .navbar-right > li {
                    display: table-cell;
                    width: 1%;
                    white-space: nowrap;
                  }
                  .navbar-right > li > a  {
                    border-bottom: 1px solid #ddd !important;
                    border-radius: 4px 4px 0 0 !important;
                    margin-bottom: 0 !important;
                      padding-left:5px;
                  } 
                }
                .subMenuItems li {
	                    list-style: none;
                        width:80%;
                    padding:4px 10px;
                }
                .subMenuItems a{
                    color: #585858;
                    font-size: 0.9em;
                }
                .subMenuItems i{
                    color: #6f6f6f;
                    font-size: 0.8em;
                     padding-right: 10px;
                }
              </style>
			
			  <div class="navbar-header navbar-default">  
                   <ul class="nav navbar-nav navbar-right navbar-inverse navbar-customBackground bg-primary  hidden-xs" >
                        <li><a href="#" class="NavHome" ><span class="glyphicon glyphicon-home glyph-lrg"  aria-hidden="true"></span>&nbsp;</a></li>
                        <li class="main_Navbar "><a href="#"  onClick="pdiSelectBy(3)">ALL</a></li>
                        <li class="main_Navbar"><a href="#"  onClick="pdiSelectBy(0)">PRE PDI</a></li>
                        <li class="main_Navbar"><a href="#"  onClick="pdiSelectBy(1)">PDI</a></li>
                        <li  class="main_Navbar active"><a href="#"  onClick="pdiSelectBy(2)">APS</a></li> 
                        
                        <li  class="pdi_Navbar hidden"><a href="#" onClick="switchUI(2)" >SWITCH PDI / PRE PDI</a></li> 
                        <li  class="pdi_Navbar hidden"><a href="#" onClick="switchUI(3)" >ISSUES</a></li> 
                        <li  class="pdi_Navbar active hidden"><a href="#" >GENERATE</a></li> 
                         
                      </ul>
                      
                </div>
			
			
				<div class=" navbar-right cartRight hidden-xs hidden-sm ">
                     <div class="row">
                        <div class="col-xs-3">
                           <span class="glyphicon glyphicon-shopping-cart glyph-xlrg" style="padding-top:0px;"  aria-hidden="true"></span>
                        </div> 
                        <div class="col-xs-9">  
                                   <span  id="cart_house_Id"></span>
                                    <br>
                                    <span  id="cart_cust_name" ></span> 
                        </div>
                    </div> 
				</div>
				
				<div id="btnsPDIContainer" class=" navbar-right " style="padding-top: 10px;">
                        <div class="">
                        <button  id="previewPDITable"  class=" btn btn-default Orangecolor hidden"> <i class="fa fa-print" aria-hidden="true"></i> Preview</button>
                        <button  id="generateOrderp_Pdi"  class=" btn btn-default Orangecolor hidden">Generate Order</button>
                        <button  id="updateOrderp_Pdi"  class=" btn btn-default Orangecolor hidden">Update Order</button>
                        </div>
              </div>
				  
		  </div>
		</nav> 
		
  <!-- main content goes here --> 
		<div id="mainContentContainer" class="container" style="height:100%; width:100%;">  
		
		</div>
		
		<div id="IssueContainer" class="container" style="height:100%; width:100%;">   
		</div>
		 
  <!-- other content in here --> 
</div><!-- /o-wrapper -->	  
			  
		 
		 
		 
<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
  <!-- <button class="c-menu__close">&larr; Close Menu</button> -->
  <div class=" c-menu__close" style="width: 50px; right: 0; position: absolute;">
  <i class="fa fa-times "  aria-hidden="true"></i>
  </div>
  
  <div>
	<div style="margin:0 auto; ">
		<div class="profile-header-container">   
    		<div class="profile-header-img">
			
                <img class="img-circle" id="userImage" src="images/profile-icon-9.png" /> 
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label" id="userStatusLabel"> Status </span> 
                </div>
            </div> 
			<div id="userFLname" class="userFlNameHere">user</div>
        </div>   
	</div>
  
  </div>
  
  <ul class="c-menu__items">
    <li class="c-menu__item"><a href="#" class="c-menu__link NavHome"><i class="fa fa-home" aria-hidden="true"></i>
 Home</a>       </li>
    <li class="subOrderNavSelection hidden-md hidden-lg hidden-xl hidden" style="background: #cacaca;">
        
            <ul class="subMenuItems">
                <li class=""><i class="fa fa-circle-o" aria-hidden="true"></i>
 <a href="#"  onClick="pdiSelectBy(3)">ALL</a></li>
                <li class=""><i class="fa fa-binoculars" aria-hidden="true"></i>
 <a href="#"  onClick="pdiSelectBy(0)">PRE PDI</a></li>
                <li class=""><i class="fa fa-binoculars" aria-hidden="true"></i>
 <a href="#"  onClick="pdiSelectBy(1)">PDI</a></li>
                 <li  class=""><i class="fa  fa-circle" aria-hidden="true"></i> <a href="#"  onClick="pdiSelectBy(2)">APS</a></li>  
            </ul>
    </li>
    <li class="c-menu__item"><a href="#" class="c-menu__link"  data-toggle="modal" data-target="#passwordResetModal" ><i class="fa fa-key" aria-hidden="true"></i>
 Change Password</a>  </li>
    <li class="c-menu__item"><a href="#" class="c-menu__link"><i class="fa fa-language" aria-hidden="true"></i>
Change Language</a></li> 
    <li class="c-menu__item"><a href="#" class="c-menu__link"><i class="fa fa-cogs" aria-hidden="true"></i>
Preferences</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
About</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link" id="logoutbtn" ><i class="fa fa-sign-out" aria-hidden="true"></i>
Signout</a></li>
	 
  </ul>
</nav><!-- /c-menu push-left -->
<!-- menus here -->
		 
<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
		
		
	<!-- pass modal starts here -->	
<div class="modal fade" id="passwordResetModal" role="dialog"  tabindex="-1" role="dialog" aria-labelledby="Change Password">
    <div class="modal-dialog" role="document">  
    <!-- Modal content-->
    <div class="modal-content background-colorgrey">
        <div class="modal-header">
            <button type="button" class="close marg-right5" data-dismiss="modal">&times;</button>
            <h4 class="modal-title dark-grey txtbold">Change Password</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                <label class="dark-grey" for="email">Old Password<span class="txt-red">* </span></label>
                <input type="password" class="form-control input-backgroundcolor" name="oldpassword" id="oldpassword">
                </div>
                <div class="form-group">
                <label class="dark-grey" for="pwd">New Password<span class="txt-red">* </span></label>
                <input type="password" class="form-control input-backgroundcolor" name = "newpassword" id="newpassword">
                </div>
                <div class="form-group">
                <label class="dark-grey" for="pwd">Retype Password<span class="txt-red">* </span></label>
                <input type="password" class="form-control input-backgroundcolor" id="Retypepassword" name="Retypepassword">
                </div>
            </form>
        </div>
        <div class="modal-footer">	
            <button type="submit"  data-dismiss="modal" class="btn btn-default">Cancel</button>	
            <button type="submit" class="btn  btn-danger continuebutton" onclick="changePassword();" >Submit</button>
        </div>
    </div>
    </div>
</div>
	<!-- pass modal ends here -->
	
<!--	helper class--> 
<!--<script src="js/navHelper.js?v="+ Date.now()></script> 	-->


