
<script> 
        $(".subOrderNavSelection").removeClass("hidden");
</script>
        
        <!-- order selection container starts -->  
			<div id="orderSelectionContainer"   >    
								<div id="ordersListed" >
									<div style="text-align:right; font-size:11px">
										 
									<div class="row ">
									  <div class="col-lg-4 ">
										<div class="input-group">
										  <span class="input-group-addon ">
											 <span class="glyphicon glyphicon-search" ></span>
										  </span>
										  <input type="text" class="form-control search" id="searchOrder" placeholder="Search" aria-label="..." >
										<span class="input-group-addon" id="basic-addon2"></span>
										</div><!-- /input-group -->
									  </div><!-- /.col-lg-6 -->
									  
									  <div class="col-lg-2"> 
                                        </div>
									  <div class="col-lg-6"> 
										<button type="button" id="first" onclick="firstOrderPage()" value="first" class="btn Orangecolor  btn-default btn-sm">
										<i class="fa fa-angle-double-left" aria-hidden="true"></i>
										</button>
										<button type="button" id="previous" onclick="previousOrderPage()" value="previous" class="btn Orangecolor  btn-default btn-sm" >
										    <i class="fa fa-angle-left" aria-hidden="true"></i>
										</button>
										<button type="button" id="next" onclick="nextOrderPage()" value="next" class="btn Orangecolor  btn-default btn-sm" >
										    <i class="fa fa-angle-right" aria-hidden="true"></i>

										</button>
										<button type="button" id="last" onclick="lastOrderPage()" value="last" class="btn Orangecolor  btn-default btn-sm" >
										    <i class="fa fa-angle-double-right" aria-hidden="true"></i>

										</button>
										
										<select id="listofOrders" class="btn btn-default  Orangecolor  dropdown-toggle">
										  <option id="10" selected>10</option>
										  <option id="20" >20</option>
										  <option id="50" >50</option>
										  <option id="100" >100</option>
										</select>
									  </div><!-- /.col-lg-6 -->
									</div>
										

									</div>
								<table class="table table-hover table-striped">
								  <thead>
									<tr>
									  <th>
											<button class="sort btn btn-default Orangecolor " title="sort by Order id" id="orderID"  data-sort="orderId">
												<i class="fa fa-angle-up" aria-hidden="true"></i> <i class="fa fa-angle-down" aria-hidden="true"></i>

Order
											</button>
										 </th>
									  <th>
											<button class="sort btn btn-default Orangecolor "  title="sort by Customer Name" id="_ordercustomerName"  data-sort="name">
												<i class="fa fa-angle-up" aria-hidden="true"></i> <i class="fa fa-angle-down" aria-hidden="true"></i>

 Name
											</button></th> 
									  <th id="_orderAddress">Address</th> 
									  <th class="hidden-xs hidden-sm" style="    width: 60px;">
									</th>
									</tr>
								  </thead>
								  <tbody  id="ordertbodyid" class="list">  
								  </tbody>
								</table>
							 
  
								</div>  
             </div>

<!-- order selection container ends -->