 <!-- pdi page interface starts --> 
<style>
    .float{
     font-size: 20px;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
            z-index: 999;
}

.my-float{
	margin-top:22px;
}
/*
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}
*/
/*

    a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
*/
    
    
.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

    
    
    .img-wrap{
        max-height: 60px;
        min-height: 55px;
        width: auto;
    }
    .img-wrap img{
            max-height: 50px;
            max-width: 50px;
            height:50px;
            width:auto;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
    }
    .img-wrap .close{
         color:red;
        
    } 
    .tmp_imgContainer .img-wrap img{
        height:50px; 
        max-height:50px; 
        max-width:50px; 
        
    }
    
    .tmp_imgContainer .img-wrap {
            height: 55px;
            width: 50px;
            margin-bottom: 10px;
    }
    .tmp_imgContainer .img-wrap .close{
        float:left; 
    }
    .fa-pencil{
        cursor: pointer;
        cursor: hand;
    }
    .__room{
        font-weight: bold;
        text-transform: capitalize;
        width: 20%;
        color:#393939;
        font-size: 0.9em;
    }
    
    .__desc{ 
        color:#393939;
        font-size: 0.9em;
    }
    #tblVisual, .visualTableHeading{
     
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,c1c1c1+100 */
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top, #eaeaea 0%, #c1c1c1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #eaeaea 0%,#c1c1c1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #eaeaea 0%,#c1c1c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
    }
    #tblVisual > thead{ 
            color: #393939;
        font-size: 0.8em;
    }
    .visualTableHeading{
        text-align: center; color: #393939; padding: 7px; font-weight: bold;
    
    }
    #tblHidden, #tblHidden> thead, .hiddenTableHeading{ 
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    }
    .hiddenTableHeading{
        text-align: center; color: #666666; padding: 7px; font-weight: bold;
   
    }
    
    #tblHidden> thead{
        font-size: 0.9em;
    }
    #tblHidden .__room,  #tblHidden .__desc{
        color:#43464b;
    }
    .clickable {
        cursor: pointer;
    }
    
     .addBtnCombo{
         background: none; border: 0; margin: 0 auto; width: 5%; margin-left: 10px;     font-size: 1.4em;
    }
</style>

			 	 <div  id="pdiMakerContainer" style="height:100%;">
			 	 
			  <!-- Button trigger modal -->
						 <a href="#" class="float clickable"  data-toggle="modal" data-target="#pdiAddModal" data-whatever="add">
                            <i class="fa fa-plus my-float"></i>
                        </a>
<!--
                        <div class="label-container">
                        <div class="label-text">Add an Issue</div>
                        <i class="fa fa-play label-arrow"></i>
                        </div>
-->
                        
			 
			 <div class="row">
				  <div class="col-md-6"> 
						 
                     
						<button type="button" class="delete-row" title="Delete Selected Issues"> <i class="fa fa-minus-circle" aria-hidden="true"></i>
  Issue</button>
						<button type="button" id="deleteAllVisual"  title="Clear Visual Issues"><i class="fa fa-minus-circle" aria-hidden="true"></i>
 Visual </button>
						<button type="button" id="deleteAllHidden"  title="Clear Hidden Issues"><i class="fa fa-minus-circle" aria-hidden="true"></i>
 Hidden</button>
				  </div> 
				  <div class="col-md-6 previewNsavePdi" style="text-align:right;" > 
				  
				  
                    
						<button title="load Draft" type="button" class="btn btn-default btn-md" id="loadCachePDITable">
						 <i class="fa fa-get-pocket" aria-hidden="true"></i>
						</button> 

                    
						<button title="Save as Draft" type="button" class="btn btn-success btn-md" id="savePDITable">
						 <i class="fa fa-floppy-o" aria-hidden="true"></i>
						</button> 
						<button title="Delete Draft" type="button" class="btn btn-default btn-md" id="deleteAllCache"><i class="fa fa-trash-o" aria-hidden="true"></i>
</button>
						 <!-- Button trigger modal -->
<!--
						<button type="button" class="btn btn-warning Orangecolor  btn-md" id="previewPDITable">
						 <i class="fa fa-print" aria-hidden="true"></i>
  PREVIEW
						</button> 
-->
				  </div> 
				  
						 <!-- add issue modal -->
				  
				  <div class="modal fade" id="pdiAddModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="gridSystemModalLabel">Add an Issue</h4>
						  </div>
						  <div class="modal-body">
							<div class="row">
							  <div class="col-md-3">Room / Location</div>
							  <div class="col-md-8"> 
								<select class="ui-select roomSelector form-control" id="issueRoom">
										<option value="master Bedroom">Master Bedroom</option>
										<option value="Bathroom">Bathroom</option>
										<option value="Kitchen">Kitchen</option>
										<option value="Garage">Garage</option>
								</select> 
							  </div>
							</div>
							<div class="row">
							  <div class="col-md-3">Issue Type</div>
							  <div class="col-md-8"> 
								  <select class="form-control" id="issueType" name="issueType">
										<option value="Visual" selected>Visual</option>
										<option value="Hidden">Hidden</option> 
								  </select>
							  </div>
							</div>
							<div class="row">
							  <div class="col-md-3">Issue Description</div>
							  <div class="col-md-8">
							  
								<textarea class="form-control" id="issueTXT" rows="5"></textarea>
							   
							  </div>
							</div>
							
							 
							<div class="row" style="    padding-left: 15px;"> 
							  <div class="col-md-offset-3 col-md-8" style="display:inline; " id="fileForm">
							       <br>
							      <label style='float:left;'><i class="fa fa-paperclip" aria-hidden="true"></i> &nbsp;</label> 
							      <input id="imgInp" type="file" multiple accept="image/*"> 
							   
							   
							   		 
<!--
                <form id="uploadResourceForm" action="https://testing1.kloudville.com/upload?$service=system.import.createResourceUrl" method="post" enctype="multipart/form-data">
                  <input type="text" class="hidden" name="contextCategory" value="POST"/>
                  <input type="text" class="hidden" name="contextId" value="bcbcbe92-e3f7-4837-9e9f-098dd000f27"/> 
                  <input type="text" class="hidden" name="$service" value="system.import.createResourceUrl"/> 
                  <input type="file" class="hidden" name="hiddenFieldToTriggerFileUploadDetection" value=""/>
                  <input type="file" class="hidden" mime="image/png"/> 
                  <input type="file" name="file" accept="image/*" /> 
                 <button type="submit">Submit to kv</button>
                </form>
-->

							  
							  </div>
							</div>
							  
							    
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="addIssueBtn">Save</button>
							<button type="button" class="btn btn-primary hidden" id="editIssueBtn">Edit</button>
						  </div>
						</div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				   
			 </div>
			 
			 
			 <div class="row issuesTablesContainer hidden" >
				  <div class="col-md-6"> 
				  <div class="visualTableHeading" ><i class="fa fa-eye" aria-hidden="true"></i>
 Visual</div>
				  
				  <table id="tblVisual" class="table table-hover">	<thead> <tr><th></th>  <th>Room/Location</th> <th>Description</th>  </tr> </thead> <tbody> </tbody> </table>
   
					</div>
				  <div class="col-md-6"> 
				  <div class="hiddenTableHeading" ><i class="fa fa-eye-slash" aria-hidden="true"></i>
 Hidden</div>
				   
				   
				  <table id="tblHidden" class="table table-hover">	<thead> <tr><th></th> <th>Room/Location</th> <th>Description</th>  </tr> </thead> <tbody> </tbody> </table>
					</div>
			 </div>
			  
			 
			 </div>
			 <!-- pdi page interface ends -->
			