
<link href="css/bootstrap-editable.css" rel="stylesheet"/>
<script src="js/bootstrap-editable.js"></script> 
<script src="js/signature_pad.js"></script> 
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>-->

<style> 
    .editable-click, a.editable-click, a.editable-click:hover {
        padding-bottom: 3px;
    }
     @media only screen 
                          and (max-device-width: 768px)  
                          and (-webkit-min-device-pixel-ratio: 1) {
                              . navbar-right  {
                                        right: 0;
                                        left: auto;
                              }  
          }
</style>    
   
 
      
			 <div id="pdiPreview"> 
			 
			 
<!--
			 <form id="uploadResourceForm" action="https://testing1.kloudville.com/upload?$service=system.import.createResourceUrl" method="post" enctype="multipart/form-data">
  <input type="text" class="hidden" name="contextCategory" value="POST"/>
  <input type="text" class="hidden" name="contextId" value="bcbcbe92-e3f7-4837-9e9f-098dd000f27"/> 
  <input type="text" class="hidden" name="$service" value="system.import.createResourceUrl"/> 
  <input type="file" class="hidden" name="hiddenFieldToTriggerFileUploadDetection" value=""/>
  <input type="file" class="hidden" mime="image/png"/> 
  <input type="file" name="file" /> 
 <button type="submit">Submit</button>
</form>
-->
            
            
				<div class="row">
						<div class="book">
							<div class="page">
								<div class="subpage">
										 <div> 
											   <div style="float:left; width:150px;">
												   <img src="images/tarion.png" alt="" height="45">
											   </div>
												
										   </div>
										   <br>
										   <br>
										   <br>
										   <br>
										   <h3 style="text-align:center">Instructions to Builders regarding
												<br>
						the Standard Pre-Delivery Inspection Form
										   </h3>
									   <br>   
									   <p>Under Builder Bulletin 42 (Revised), the Customer Service Standard issued in July of 2005,

						vendors/builders (“builders”) are required to conduct a Pre-Delivery Inspection (PDI) of all freehold

						homes and condominium units with dates of possession (DOP) on or after October 1, 2003. Please

						refer to Part B of Builder Bulletin 42 (Revised) for further details.
									   </p>
									   <p>At the pre-delivery inspection, builders must either complete Tarion’s standard PDI form, or they

						may use their own PDI form, provided that it contains, at minimum, all of the information that is

						contained in Tarion’s standard PDI Form.
									   </p>
									   <p style="text-align:center" ><b>How do I conduct the PDI and use the PDI Form?</b></p>
									   
									   <ol type="1">
										<li>Begin the inspection at either the highest or lowest point of the home (i.e., attic or basement) and

						work systematically from room to room until every area of the home has been inspected. Devote

						as much time to inspecting the exterior as the interior, assessing the exterior finishes and the

						driveway, walkways, decks and patios, as well as landscaping. Test and demonstrate all of the

						home’s features and systems. (As a general rule, the inspection may take up to one hour for every

						1,000 square feet.)<br>&nbsp;
										</li>
										<li>
										Note on the PDI Form anything damaged, missing, incomplete or not in good operating

						condition. Also note items that cannot be inspected, because for example they are dirty or

						inaccessible.<br>&nbsp;
										</li>
										<li>Be sure to note any “substitutions” of items referred to in, or to be selected under, the Agreement

						of Purchase and Sale.<br>&nbsp;
										</li>
										<li>Condominium builders should remind purchasers which parts of their unit are covered under the

						common elements warranty for the condominium project and, therefore, are not part of the PDI

						for their unit. This can include, for example, the heating system and even some of the exterior

						items in the unit like the windows. The condominium Board of Directors will complete a separate

						PDI for the common elements.<br>&nbsp;
										</li>
										<li>Confirm the Date of Possession with the purchaser/designate, and write it on the PDI Form.<br>&nbsp;
										</li>
										<li>Sign the completed PDI Form and ensure the purchaser (or the purchaser’s designate) also signs

						it. Purchasers who intend to designate someone to conduct the PDI in their place should ensure

						they provide written authority allowing the designate to sign the PDI Form on their behalf.
										</li>
									   </ol>
			   
		
								
								</div>    
							</div>
							<div class="page">
								<div class="subpage">  
									   <div> 
										   <div style="float:left; width:150px;">
											   <img src="http://www.marcderoofinehomes.com/wp-content/uploads/2012/10/tarion.png" alt="" height="45">
										   </div>
											
									   </div>
									   <br>		<br>	<br>	   <br>			   <br>				   <br>
									   <p style="text-align:center;"><b>
									   THE COMPLETED PRE-DELIVERY INSPECTION FORM IS A FORMAL RECORD OF<br>
									   THE HOME’S CONDITION BEFORE THE PURCHASER TAKES POSSESSION. IT<br>
									   WILL BE USED AS A REFERENCE FOR FUTURE WARRANTY SERVICE<br>
									   REQUESTS.<br>
									   </b>
									   </p>
									   <p style="text-align:center;"><b>
									   BE SURE TO COMPLETE THE PDI FORM CLEARLY<br>
									   AND ENSURE THAT THE PURCHASER INITIALS ALL CHANGES. 
									   </b>
									   </p>
				   
								</div>    
							</div>
							<div class="page">
								<div class="subpage" style="font-size:0.86em;">
								
									
                   <div> 
                       <div style="float:left; width:150px;">
                           <img src="images/tarion.png" alt="" height="45">
                       </div>
                       <div style="float:right; width:250px;">
                           <h2 style="font-size:1.2em; text-align:right;">Pre-Delivery Inspection Form </h2> 
                       </div> 
                        
                   </div><br><br>	
				   <br>
				   <br>
				   <br>
				   <p>
					   <b>Please list below any damaged, incomplete, or missing items, as well as anything that is not operating

properly. Also note any “substitutions” of items referred to in, or to be selected under, the Agreement

of Purchase and Sale (APS) or construction contract. Please initial all changes and deletions. As a

minimum, check the following:
					   </b>
				   </p>
				   <br>
				   <table style="width:100%;" class="compactDescTable">
					<tbody>
						<tr>
							<td style="width:50%; border:1px solid black; text-align:center;">
							<b>DAMAGED, INCOMPLETE OR MISSING</b>
							</td>
							<td style="border:1px solid black; text-align:center;">
							<b>OPERATING CONDITION</b>
							</td>
						</tr>
						<tr style="border:1px solid black; ">
								<td style="border:1px solid black; ">
								<ul style="padding-top:5px; padding-right:5px;">
									<li >Windows, side lights and other glazing. Window

and door screens
									</li>
									<li>Bathtubs, sinks and toilets
									</li>
									<li>Bathroom accessories, if provided
									</li>
									<li>Mirrors, countertops and cabinetry
									</li>
									<li>Flooring (hardwood, vinyl, ceramic tiles, carpeting)
									</li>
									<li>Interior finishes and trim carpentry
									</li>
									<li>Furnace
									</li>
									<li>Hot water heater, if provided (not a rental)
									</li>
									<li>Exterior finishes, driveways, walkways, decks and

landscaping are complete
									</li>
								</ul>
								</td>
								<td>
								<ul style="padding-top:5px; ">
									<li>Windows, interior and exterior doors (including

garage overhead door). Door locks
									</li>
									<li>Faucets: kitchen, bathroom, laundry room
									</li>
									<li>Exhaust fans (kitchen, bathrooms), if provided
									</li>
									<li>Electrical outlets and fixtures
									</li>
									<li>Gas fireplaces, incl. circulation fans, if provided
									</li>
									<li>Heat Recovery Ventilation system, if provided
									</li>
									<li>Heating system
									</li>
									<li>Hot water heater, if provided (not a rental)
									</li>
									<li>Air conditioning system, if provided and if

conditions permit
									</li> 
								</ul>
								</td>
						</tr>
					</tbody>
				   </table>
				   <br>
				   
				    
				    
				   <table border="1" style="border:1px solid black; width:100%; margin:0 auto; font-size:0.9em;"  id="tblVisualPreview" >
					   <thead><tr><th  class="paddedClm" style="width:35px; border-left: solid 1px #000000; border-bottom: solid 1px #000000;"> Item#</th><th  class="paddedClm" style="width:30%;  border-left: solid 1px #000000; border-bottom: solid 1px #000000;"> Room/Location</th><th  class="paddedClm" style=" border-left: solid 1px #000000; border-bottom: solid 1px #000000;">Description</th></tr>
					   </thead>
					   <tbody>    
					   </tbody>
				   </table>  
				  
				   	   
            <div class="pageFooter" style="margin-top:20px;">   
                   <span style="width:100%; font-size:1.0em;  ">     
                       <div style="width:300px; float:right; text-align:right; white-space:nowrap;">
                         Unit Enrollment #&nbsp;<u>&nbsp;&nbsp;<span id="UnitEnrol1" style="text-decoration:underline;" contenteditable="true">&nbsp;&nbsp;&nbsp;&nbsp;</span></u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1
                       </div>
                   </span>
               </div>
								
								</div>    
							</div>
							<div class="page">
								<div class="subpage"  style="font-size:0.86em;">
								
								
            <div style="width:100%;">   
                   <span style="width:100%; font-size:1.0em;  ">     
                       <div style="width:300px; float:right; text-align:right;  white-space:nowrap;">
                         Unit Enrollment #&nbsp;<u>&nbsp;&nbsp;<span id="UnitEnrol2" style="text-decoration:underline;" contenteditable="true">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;</u>
                       </div>
                   </span>
               </div>
                   <br>  
    <a  id="goToSign" href="#SignatureTd" class="hidden" rel="go to Sign">Go to Sign</a>
			   <p><b>List here anything that can’t be assessed, because for example it is obscured from view or inaccessible.</b>
			   </p>
			   
			  
			  
				   <table border="1" style="border:1px solid black; width:100%; margin:0 auto; font-size:0.9em; "  id="tblHiddenPreview" >
					   <thead><tr><th  class="paddedClm" style="width:35px; border-left: solid 1px #000000; border-bottom: solid 1px #000000;"> Item#</th><th  class="paddedClm" style="width:30%; border-left: solid 1px #000000; border-bottom: solid 1px #000000;"> Room/Location</th><th  class="paddedClm" style="border-left: solid 1px #000000; border-bottom: solid 1px #000000;">Description</th></tr>
					   </thead>
					   <tbody>    
					   </tbody>
				   </table>  
				   
			       
				  
				   <br>
                                                        
					   <p>Vendor/Builder and Home Address Information:</p>  
					   <table style="width:100%; border:1px solid black;      line-height: 1.1;" >
						<tbody>
							<tr>
							<td style="width:30px;">&nbsp;</td>
								<td> 
								   <table style="width:80%; ">
									<tbody>
										<tr>
											<td  style="width:40%; "> 
												<table  style="width:40%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">&nbsp;
															 
															 <div class="input-group date" data-provide="datepicker" name="dateOfPossession" id="dateOfPossession">
																  <input type="text" class="form-control customheightctrl"  style=" width: 131px; " placeholder="yyyy/MM/dd" >
																  <span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th"></i></span>
																</div>
															 
															 </td>
														</tr>
													</tbody>
												</table> 
											</td>
											<td style="width:15px;">
												&nbsp;
											</td>
											<td> 
												<table  style="width:80%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;"> &nbsp;<div id="vendorBuilderReference"  contenteditable="true"></div> 
															 </td>
														</tr>
													</tbody>
												</table>  
											</td>
										</tr>
										<tr>
											<td>
											Date of possession (YYYY/MM/DD)
											</td>
											<td > 
											</td>
											<td>
											Vendor/Builder Reference #
											</td>
										</tr>

										<tr>
											<td><br>
											Lot <u>&nbsp;&nbsp;<span id="lotNum" contenteditable="true"></span>&nbsp;&nbsp;</u> 
											&nbsp;&nbsp;&nbsp;&nbsp;Plan  <u>&nbsp;&nbsp;<span id="planNum" contenteditable="true"></span> 
											&nbsp;&nbsp;</u> 
											</td>
											<td > 
											</td>
											<td><br> 
												<table  style="width:100%; ">
													<tbody>
														 <tr>
														 <td style="width:60px; ">
															Municipality 
														 </td>
															 <td style="border-bottom:1px solid black; width:80%;">&nbsp;
															 <span id="MuniciplaityName"  data-type="text"   data-title="Municipality Name"></span>   
															 </td>
														</tr>
													</tbody>
												</table> 
											
											</td>
										</tr>	
										
									</tbody>
									</table> 
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td style="width:35%;">Condominium Project name
												</td>
												<td style="width: 38%;"> 
												<table  style="width:95%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">
															 &nbsp;<span id="CondoProjectName" contenteditable="true"></span>  
															 </td>
														</tr>
													</tbody>
												</table> 
											
												</td>
												<td  style="width:42px;">Level
												</td>
												<td style="white-space:nowrap;"><u>&nbsp;&nbsp;<span id="levelNum" contenteditable="true"></span>
                                                    &nbsp;&nbsp;</u> 
												</td>
												<td  style="width:30px;">Unit
												</td>
												<td style="white-space:nowrap;"><u>&nbsp;&nbsp;<span id="UnitNum" contenteditable="true"></span>
                                                    &nbsp;&nbsp;</u> 
												</td>
											</tr>
										</tbody>
									</table>	
									
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:35%;">Home/Civic address<br>
												(please print)
												</td>
												<td> 
												<table  style="width:60%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">
																&nbsp;<span id="homeAddressline1" contenteditable="true" ></span> 
															 </td>
														</tr>
													</tbody>
												</table> 
												</td> 
											</tr>
											<tr>
												<td style="width:35%;"> 
												</td>
												<td>
												
												<table  style="width:60%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">
																&nbsp;<span id="homeAddressline2"></span>  
															 </td>
														</tr>
													</tbody>
												</table> 
												</td> 
											</tr>
										</tbody>
									</table>
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:35%; ">Vendor/Builder name (please print) 
												</td>
												<td>
												<table  style="width:60%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">
																&nbsp;<span id="vendorBuilderName" contenteditable="true"></span>  
															 </td>
														</tr>
													</tbody>
												</table> 
												</td> 
											</tr> 
										</tbody>
									</table>
									<br>
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:35%; ">
												<table  style="width:60%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%; font-weight:bold;">
															 &nbsp;<span id="representativesName"></span>
															 </td>
														</tr>
													</tbody>
												</table> 
												</td>
												<td>_____________________________________
												</td> 
											</tr> 
											<tr>
												<td>Representative's name (please print)
												</td>
												<td>Representative's signature
												</td> 
											</tr> 
										</tbody>
									</table><br>&nbsp;
								</td>
							</tr>	
						</tbody>
						</table> 
						
						 
						
						<p style="margin-top: 5px;  "><b>This section should be completed and signed by all persons who are shown as purchasers on the APS for the

home, or as owners of land in a construction contract (and/or by their designate*).</b></p>
					    
					   <table style="width:100%; border:1px solid black; font-size:0.9em; line-height: 1.3;">
						<tbody>
							<tr>
							<td style="width:30px;">&nbsp;</td>
								<td> 
								   <table style="width:90%; ">
									<tbody> 
											<tr>
												<td>
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:60%; ">
												<table  style="width:80%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;font-weight:bold;">&nbsp;<span id="txtPurchaserName"></span>
															 </td>
														</tr>
													</tbody>
												</table> 
												</td>
												<td>_____________________________________
												</td> 
											</tr> 
											<tr>
												<td>Purchaser's name (please print)
												</td>
												<td>Purchaser's signature
												</td> 
											</tr> 
										</tbody>
									</table>
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:60%; ">
												<table  style="width:80%; margin">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;font-weight:bold;">&nbsp;  
																			<span id="txtPurchaserName2"></span>
															 </td>
														</tr>
													</tbody>
												</table> 
												</td>
												<td>_____________________________________
												</td> 
											</tr> 
											<tr>
												<td>Purchaser's name (please print)
												</td>
												<td>Purchaser's signature
												</td> 
											</tr> 
										</tbody>
									</table>
									<br>
									<table style="width:100%;">
										<tbody>
											<tr>
												<td  style="width:60%; ">
												<table  style="width:80%; margin">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;font-weight:bold;">&nbsp; 
																			<span id="txtDesignateName"></span>
															 </td>
														</tr>
													</tbody>
												</table> 
												</td>
												<td>_____________________________________
												</td> 
											</tr> 
											<tr>
												<td>Designate's* name (please print)
												</td>
												<td>Designate's* signature
												</td> 
											</tr> 
										</tbody>
									</table>
									<br>
									
								   <table style="width:100%; ">
									<tbody>
										<tr>
											<td> 
												<table  style="width:30%; ">
													<tbody>
														 <tr>
															 <td style="border-bottom:1px solid black; width:100%;">
<!--															 <div id="signedDate" data-type="date" data-title="Select Signed Date" data-format="DD/MM/YYYY"  data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY"></div>-->
															 
															 <div class="input-group date datepicker" data-provide="datepicker" name="signedDate" id="signedDate">
																  <input type="text" class="form-control customheightctrl"  style=" width: 131px; " placeholder="yyyy/MM/dd" >
																  <span class="input-group-addon" style="padding: 2px;"><i class="glyphicon glyphicon-th"></i></span>
																</div>
															 </td>
														</tr> 
														 <tr>
															 <td style="width:100%;">&nbsp;Date (YYYY/MM/DD) 
															 </td>
														</tr>
													</tbody> 
												</table>
											</td> 
											
                     <td id="SignatureTd"  style="width:40%;     background-color: rgb(236, 236, 236);" >
         
                    <div style="border:solid 1px #000000;width:300px;"> 
                    <canvas id="signatureCanvas" ></canvas>
                    </div>
                              <span>Signature * </span>
                              <button id="clearbtnSign" type="button" class="btn button clear" data-action="clear" value="clear"><i class="fa fa-times" aria-hidden="true"></i>
            </button>
       
                  
                     </td>
                                                             
											
										</tr>
										</tbody>
										</table>
										<br>
										<p>
										<i>* Purchasers or owners who intend to designate someone to conduct the PDI in their place should ensure they

provide written authority to the vendor/builder authorizing the designate to sign this form on their behalf.
										</i>
										</p>
									
								</td>
							</tr>	
						</tbody>
						</table> 
								</td>
							</tr>	
						</tbody>
						</table>
						 
					   <br>
					   <p style="text-align:center; font-size:0.9em;">
                           <b>THE COMPLETED PRE-DELIVERY INSPECTION FORM IS A FORMAL RECORD
                           <br>OF THE HOME’S CONDITION BEFORE THE PURCHASER TAKES POSSESSION.
                           <br>IT WILL BE USED AS A REFERENCE FOR FUTURE WARRANTY SERVICE REQUESTS.
                           </b>
					   </p>
					   
			   
			    
			   
            <div class="pageFooter"> 
                   <span style="width:100%; font-size:0.9em;  ">   
                       <div style="width:300px; float:right; text-align:right;">
                          2
                       </div>
                   </span>
                   
              

                   
                   
                   
                   
               </div>
								
								
								
								
								
								
								</div>    
							</div> 
						</div>
				</div>
			 </div>
			  