 <style>
            @media only screen 
                and (max-device-width: 768px)  
                and (-webkit-min-device-pixel-ratio: 1) {
                    .col-lg-6{
                          max-height:50% !important;
                    } 
                    .container-full { 
                             max-width: 100%;
                                      overflow-x: hidden;
                              }
                    #pdibtn_wrapper{
                        margin-left: -24px;
                    }
          }
             #bodyContainer{
                 height: 100%;
                    width: 100%; 
             }
             .container-full {
                  margin: 0 auto;
                  width: 110%;
                   margin-left: auto;
                    margin-right: auto; 
                     position: absolute;
                    left: 0;
                }

             .outer {
                display: table;
                position: absolute;
                height: 100%;
                width: 100%;
            }

            .middle {
                display: table-cell;
                vertical-align: middle;
            }

            .inner {
                margin-left: auto;
                margin-right: auto; 
                text-align: center;
                    cursor: pointer;
                    cursor: hand;
            }
             .inner h1 .fa, .inner{ 
                font-size: 4em;
                color: #fff;
             }
             .inner h1 .fa.orangeIt, .orangeIt{ 
                 color:#d4a190;
             }
     
     
</style>
 
<script>
            var windowHeight = jQuery(document).height();   // return height of browser viewport
            var topbarHeight = $(topNavBar).height();    
            
            var windowWidth = jQuery(window).width();  
            
             $(pdiSelectionContainer).height(windowHeight - 18);
             $(pdiSelectionContainer).css('margin-top', -topbarHeight);
             $(pdiSelectionContainer).width(windowWidth +  70);
    $(".subOrderNavSelection").addClass("hidden");
</script>
         
<div id="pdiSelectionContainer" class=" container-full">
   
    <div id ="all_wrapper" class="col-lg-12 hidden" style="height:100%; margin-left: -5%; ">
        
            <div class="outer">
              <div class="middle">
                <div class="inner">

                  <h1><i class="fa fa-binoculars orangeIt" aria-hidden="true"></i>
</h1> 
                  <p class="orangeIt"> Pre PDI and PDI already generated</p>

                </div>
              </div>
            </div>
        
    </div>
    
   
    <div id ="ppdibtn_wrapper" class="col-lg-6 hidden" style="height:100%;     margin-left: -5%; ">
        
            <div class="outer">
              <div class="middle">
                <div id="ppdibtn" class="inner">

                  <h1><i class="fa fa-binoculars orangeIt" aria-hidden="true"></i>
</h1> 
                  <p class="orangeIt"> Pre PDI</p>

                </div>
              </div>
            </div>
        
    </div>
    <div id="pdibtn_wrapper" class="col-lg-6 hidden" style="height:100%; background:#d4a190; ">
        
         <div class="outer">
              <div class="middle">
                <div id="pdibtn" class="inner">

                  <h1><i class="fa fa-binoculars" aria-hidden="true"></i></h1>

                  <p>PDI</p>

                </div>
              </div>
            </div>
        
    </div>
</div>         
         
			 <!-- pdi chooser interface ends -->
			 